<div class="py-4 text-gray-500">
  <a class="ml-6 text-lg font-bold text-gray-800" href="#" >
    <%= t ".logo"  %>
  </a>
  <ul class="mt-6">
    <% if current_user.present? %>
      <%= render "layouts/shared/navigation/item", navigation_path: root_path, navigation_active: is_active_navigation?(:static_pages), navigation_icon: "fa-solid fa-house", navigation_content: t(".home") %>
      <%= render "layouts/shared/navigation/item", navigation_path: user_devices_path, navigation_active: is_active_navigation?(:user_devices), navigation_icon: "fa-solid fa-hard-drive", navigation_content: t(".my_devices") %>
      <%= render "layouts/shared/navigation/item", navigation_path: requests_path, navigation_active: is_active_navigation?(:requests), navigation_icon: "fa-regular fa-rectangle-list", navigation_content: t(".requests") %>
      <%= render "layouts/shared/navigation/system_admin_tab" if current_user.role_system_admin?  %>
      <%= render "layouts/shared/navigation/manager_tab" if current_user.role_bod? || current_user.role_device_manager? %>
    <% end %>
  </ul>
</div>
